[submodule "benchmarks/FlameGraph"]
	path = benchmarks/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "benchmarks/ipc-bench"]
	path = benchmarks/ipc-bench
	url = https://github.com/rhiswell/ipc-bench
[submodule "rdma-tutorial"]
	path = rdma-tutorial
	url = git@github.com:rhiswell/rdma-tutorial.git
